<main>
    <section id="inicio">
        <img src="/img/bannerprincipal.jpg">
        <div class="bloque-inicio"  style="background: silver; color:black;">
            <h1>John Shadow&copy;</h1>
            <p class="blq-inicio" style="color:black">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae amet, aliquid corporis nesciunt explicabo quia nobis ab cupiditate tempore,
                doloribus eos quo fugit error asperiores voluptatem provident delectus pariatur quas.
            </p>
            <a href="#nosotros" class="boton boton-rojo">Ver m치s</a>
        </div>
    </section>
    <section id="nosotros" class="seccion">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae amet, aliquid corporis nesciunt explicabo quia nobis ab cupiditate tempore,
                doloribus eos quo fugit error asperiores voluptatem provident delectus pariatur quas.
            </p>
        </div>
    </section>
    <section id="servicios" class="seccion">
        <div class="container">
            <div class="row">
                <div class="columna columna-33 columna-mobile-100">
                    <div class="bloque-servicio">
                        <div class="bloque-img-servicio cuadrado-perfecto">
                            <img src="/img/FqrQ7h7yGqrt6xdJQCn4--3--oilek.jpg">
                        </div>
                        <div class="bloque-contenido-servicio">
                            <h3>Servicio 1</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Beatae amet, aliquid corporis nesciunt explicabo quia nobis ab cupiditate tempore,
                                doloribus eos quo fugit error asperiores voluptatem provident delectus pariatur quas.
                            </p>
                            <a href="#" class="boton boton-blanco">Ver m치s</a>
                        </div>
                    </div>
                </div>
                <div class="columna columna-33 columna-mobile-100">
                    <div class="bloque-servicio">
                        <div class="bloque-img-servicio cuadrado-perfecto">
                            <img src="/img/IQgy1ue0FF15XwnM2Guu--2--nq2na.jpg">
                        </div>
                        <div class="bloque-contenido-servicio">
                            <h3>Servicio 2</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Beatae amet, aliquid corporis nesciunt explicabo quia nobis ab cupiditate tempore,
                                doloribus eos quo fugit error asperiores voluptatem provident delectus pariatur quas.
                            </p>
                            <a href="#" class="boton boton-blanco">Ver m치s</a>
                        </div>
                    </div>
                </div>
                <div class="columna columna-33 columna-mobile-100">
                    <div class="bloque-servicio">
                        <div class="bloque-img-servicio cuadrado-perfecto">
                            <img src="/img/Mg6ERMYHYH0Jk8TbSXkl--1--wwykd.jpg">
                        </div>
                        <div class="bloque-contenido-servicio">
                            <h3>Servicio 3</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Beatae amet, aliquid corporis nesciunt explicabo quia nobis ab cupiditate tempore,
                                doloribus eos quo fugit error asperiores voluptatem provident delectus pariatur quas.
                            </p>
                            <a href="#" class="boton boton-blanco">Ver m치s</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="galeria">
        <div class="container-fluid">
            <div class="row">
                <div class=" columna-33 columna-mobile-50">
                    <div class="cuadrado-perfecto">
                        <img src="/img/FqrQ7h7yGqrt6xdJQCn4--3--oilek.jpg">
                        <h4>Imagen 1</h4>
                    </div>
                </div>
                <div class=" columna-33 columna-mobile-50">
                    <div class="cuadrado-perfecto">
                        <img src="/img/IQgy1ue0FF15XwnM2Guu--2--nq2na.jpg">
                        <h4>Imagen 2</h4>
                    </div>
                </div>
                <div class=" columna-33 columna-mobile-50">
                    <div class="cuadrado-perfecto">
                        <img src="/img/Mg6ERMYHYH0Jk8TbSXkl--1--wwykd.jpg">
                        <h4>Imagen 3</h4>
                    </div>
                </div>
                <div class=" columna-33 columna-mobile-50">
                    <div class="cuadrado-perfecto">
                        <img src="/img/FqrQ7h7yGqrt6xdJQCn4--3--oilek.jpg">
                        <h4>Imagen 4</h4>
                    </div>
                </div>
                <div class=" columna-33 columna-mobile-50">
                    <div class="cuadrado-perfecto">
                        <img src="/img/IQgy1ue0FF15XwnM2Guu--2--nq2na.jpg">
                        <h4>Imagen 5</h4>
                    </div>
                </div>
                <div class=" columna-33 columna-mobile-50">
                    <div class="cuadrado-perfecto">
                        <img src="/img/Mg6ERMYHYH0Jk8TbSXkl--1--wwykd.jpg">
                        <h4>Imagen 6</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contactenos" class="seccion">
        <iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            id="gmap_canvas"
            src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Barranquilla+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
        <div class="container-fluid">
            <div class="row">
                <div class="columna columna-41 columna-mobile-100 empujar-58 empujar-mobile-0 sinpadding-mobile">
                    <form action="index.php" method="post">
                        <div class="form-block">
                            <input type="text" class="form-control" placeholder="Nombre" name="nombre">
                        </div>
                        <div class="form-block">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="form-block">
                            <textarea name="mensaje" placeholder="Mensaje" name="mensaje"></textarea>
                        </div>
                        <div class="form-block bloque-ultimo">
                            <input type="submit" class="boton boton-negro" value="Enviar">
                        </div>
                        <!--?php
										if($_SERVER["REQUEST_METHOD"]=="POST")
										{
											$nombre = $_POST["nombre"];
											$email = $_POST["email"];
											$mensaje = $_POST["mensaje"];

											if(isset($nombre))
											{
												if(isset($email))
												{
													if(isset($mensaje))
													{
														$para = "dystopicjohn@gmail.com";
														$asunto = "mail test";
														$cuerpo = $nombre."\n".$email."\n".$mensaje;
														$adicional = "From: noreplay@johnshadow.com";
														mail($para,$asunto,$cuerpo,$adicional);
									?>
                        <h1>Mensaje Enviado</h1>
                        <?php
													}
												}
											}
										}
									?-->
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>