<footer>
    <div class="container">
        <div class="row">
            <div class="columna columna-25 columna-mobile-100">
                <img src="img/inDqwDmhwRNcb2CHd22P--1--ana4r.svg" class="logo-footer">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Beatae amet, aliquid corporis nesciunt explicabo quia nobis ab cupiditate tempore,
                    doloribus eos quo fugit error asperiores voluptatem provident delectus pariatur quas.
                </p>
            </div>
            <div class="columna columna-25 columna-mobile-100">
                <h3>
                    Temas relacionados
                </h3>
                <ul>
                    <li><a href="#">Tema 1</a></li>
                    <li><a href="#">Tema 2</a></li>
                    <li><a href="#">Tema 3</a></li>
                </ul>
            </div>
            <div class="columna columna-25 columna-mobile-100">
                <h3>
                    Datos de Contactos
                </h3>
                <ul>
                    <li>demapepe@outlook.com</li>
                    <li>+573174282615</li>
                    <li>Barranquilla, Colombia</li>
                </ul>
            </div>
            <div class="columna columna-25 columna-mobile-100">
                <h3>
                    Redes Sociales
                </h3>
                <ul class="redes">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="barra-footer">
        &copy; Derechos Reservados - {{year}}
    </div>
</footer>