<header>
    <div class="container">
        <a href="/">
            <img src="/img/inDqwDmhwRNcb2CHd22P--1--ana4r.svg" class="logo">
        </a>
        <nav>
            <a href="#inicio">Inicio</a>
            <a href="#nosotros">Nosotros</a>
            <a href="#servicios">Servicios</a>
            <a href="#galeria">Galeria</a>
            <a href="#contactenos">Contáctenos</a>
        </nav>
        <a href="#" class="hamb"><i class="fas fa-bars"></i></a>
    </div>
</header>